.test{
    margin:abs(-10px);
    border-radius:ceil(3.4px);
    border:floor(2.3px) solid red;
    padding:round(3.5px);
    margin-top:percentage(100px/10px);
    margin-bottom:comparable(20px,20rem);
    margin-left:random(100);
}   